USE [master]
GO
/****** Object:  Database [QUIZBEE]    Script Date: 23/11/2022 4:35:51 PM ******/
CREATE DATABASE [QUIZBEE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUIZBEE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QUIZBEE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUIZBEE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QUIZBEE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUIZBEE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUIZBEE]
GO
/****** Object:  Table [dbo].[CARD]    Script Date: 23/11/2022 4:35:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARD](
	[ID] [int] NOT NULL,
	[_KEY] [nvarchar](50) NULL,
	[VALUE] [nvarchar](50) NULL,
	[FLASHCARD_ID] [int] NULL,
 CONSTRAINT [PK_CARD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLLECTIONS]    Script Date: 23/11/2022 4:35:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLLECTIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[_USER_ID] [int] NOT NULL,
	[TOTAL_COLLECTION] [int] NULL,
 CONSTRAINT [PK_COLLECTIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UNIQUE_COLLECTIONS] UNIQUE NONCLUSTERED 
(
	[_USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FLASHCARD]    Script Date: 23/11/2022 4:35:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FLASHCARD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](30) NULL,
	[CREATED_DATE] [date] NULL,
	[TOTAL_CARD] [int] NULL,
	[COLLECTIONS_ID] [int] NULL,
 CONSTRAINT [PK_FLASHCARD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAYER]    Script Date: 23/11/2022 4:35:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAYER](
	[ID] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTION]    Script Date: 23/11/2022 4:35:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VALUE] [nvarchar](max) NULL,
	[TYPE] [char](4) NULL,
	[QUIZ_ID] [int] NULL,
	[ANS_1] [nvarchar](max) NULL,
	[ANS_2] [nvarchar](max) NULL,
	[ANS_3] [nvarchar](max) NULL,
	[ANS_4] [nvarchar](max) NULL,
	[CORRECTS] [nvarchar](30) NULL,
 CONSTRAINT [PK_QUESTION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUIZ]    Script Date: 23/11/2022 4:35:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUIZ](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](30) NULL,
	[CREATED_DATE] [date] NOT NULL,
	[TOTAL_QUESTIONS] [int] NULL,
	[COLLECTIONS_ID] [int] NULL,
 CONSTRAINT [PK_QUIZ] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOM]    Script Date: 23/11/2022 4:35:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOM](
	[ID] [int] NOT NULL,
	[_USER_ID] [int] NULL,
	[_NAME] [nvarchar](50) NULL,
	[_PASSWORD] [nchar](10) NULL,
	[TOTAL_PLAYER] [int] NULL,
 CONSTRAINT [PK_ROOM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_ROOM] UNIQUE NONCLUSTERED 
(
	[_USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 23/11/2022 4:35:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](30) NULL,
	[_PASSWORD] [nvarchar](12) NULL,
	[EMAIL] [nvarchar](30) NULL,
	[FULLNAME] [nvarchar](30) NULL,
	[GENDER] [bit] NULL,
	[_STATUS] [nvarchar](8) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CARD]  WITH CHECK ADD  CONSTRAINT [FK_CARD_FLASHCARD] FOREIGN KEY([FLASHCARD_ID])
REFERENCES [dbo].[FLASHCARD] ([ID])
GO
ALTER TABLE [dbo].[CARD] CHECK CONSTRAINT [FK_CARD_FLASHCARD]
GO
ALTER TABLE [dbo].[COLLECTIONS]  WITH CHECK ADD  CONSTRAINT [FK_COLLECTIONS_USER] FOREIGN KEY([_USER_ID])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[COLLECTIONS] CHECK CONSTRAINT [FK_COLLECTIONS_USER]
GO
ALTER TABLE [dbo].[FLASHCARD]  WITH CHECK ADD  CONSTRAINT [FK_FLASHCARD_COLLECTIONS] FOREIGN KEY([COLLECTIONS_ID])
REFERENCES [dbo].[COLLECTIONS] ([ID])
GO
ALTER TABLE [dbo].[FLASHCARD] CHECK CONSTRAINT [FK_FLASHCARD_COLLECTIONS]
GO
ALTER TABLE [dbo].[QUESTION]  WITH CHECK ADD  CONSTRAINT [FK_QUESTION_QUIZ] FOREIGN KEY([QUIZ_ID])
REFERENCES [dbo].[QUIZ] ([ID])
GO
ALTER TABLE [dbo].[QUESTION] CHECK CONSTRAINT [FK_QUESTION_QUIZ]
GO
ALTER TABLE [dbo].[QUIZ]  WITH CHECK ADD  CONSTRAINT [FK_QUIZ_COLLECTIONS] FOREIGN KEY([COLLECTIONS_ID])
REFERENCES [dbo].[COLLECTIONS] ([ID])
GO
ALTER TABLE [dbo].[QUIZ] CHECK CONSTRAINT [FK_QUIZ_COLLECTIONS]
GO
ALTER TABLE [dbo].[ROOM]  WITH CHECK ADD  CONSTRAINT [FK_ROOM_USER] FOREIGN KEY([_USER_ID])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[ROOM] CHECK CONSTRAINT [FK_ROOM_USER]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_QUESTION]    Script Date: 23/11/2022 4:35:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_QUESTION]
	-- Add the parameters for the stored procedure here
	@VALUE NVARCHAR(MAX), 
	@TYPE BIT,
	@ANS_1 NVARCHAR(MAX), 
	@ANS_2 NVARCHAR(MAX), 
	@ANS_3 NVARCHAR(MAX), 
	@ANS_4 NVARCHAR(MAX), 
	@CORRECTS NVARCHAR(30)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	INSERT INTO [dbo].[QUESTION]
           ([VALUE]
           ,[TYPE]
		   ,[ANS_1]
           ,[ANS_2]
           ,[ANS_3]
           ,[ANS_4]
           ,[CORRECTS])
     VALUES (@VALUE, @TYPE,@ANS_1
           ,@ANS_2
           ,@ANS_3
           ,@ANS_4
           ,@CORRECTS);	 
END
GO
USE [master]
GO
